   body {
            font-family: monospace;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-color: black;
            color: white;
            background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/87.jpg");
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; 
        }
        header {
            padding: 1rem;
            border-bottom: 1px solid white;
            background-color: #000;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;
        }
        .logo {
            font-size: 1.25rem;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        .nav-links {
            display: flex;
            gap: 1rem;
        }
        .nav-links a {
            text-decoration: none;
            color: white;
        }
        .nav-links a:hover {
            text-decoration: underline;
        }
        a {
           color: #fff;
        }
           
        main {
            padding: 1rem;
        }
        footer {
            padding: 1rem;
            border-top: 1px solid white;
            font-size: 0.875rem;
            position: inherit;
            background-color: #000;
        }
        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width: 600px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
            #search-input {
                max-width: 90%;
            }
        }
  
